# Python
docker/.env
.venv/
venv/
common/__pycache__/
*.pyc

# Big tools / archives
tools/
*.tgz
*.jar
*.zip
*.tar.gz

docker/volumes/
data/docker/.env
.env
*.env
*.txt
*.csv
*.sh
*.json
*.joblib
*.Identifier